<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507991633027-hsgi6jaalrn7vjgta4uifevekersefp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507991633027-hsgi6jaalrn7vjgta4uifevekersefp5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>507991633027-24srocqlgg3bjmqlon80krd63ok43jvh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLP457DFrWhoqVV2rUTDhgFYWXighEDM0</string>
	<key>GCM_SENDER_ID</key>
	<string>507991633027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.mooru</string>
	<key>PROJECT_ID</key>
	<string>mooru-e7uk4u</string>
	<key>STORAGE_BUCKET</key>
	<string>mooru-e7uk4u.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507991633027:ios:a03a6f0436146c42187fb6</string>
</dict>
</plist>